<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="costs">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="debts">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Debts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="investments">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Investments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false">
  <ion-fab-button type="button">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button type="button" color="dark"><ion-icon name="list-outline"></ion-icon></ion-fab-button>
    <ion-fab-button type="button" color="dark"><ion-icon name="pie-chart-outline"></ion-icon></ion-fab-button>
    <ion-fab-button type="button" color="dark"><ion-icon name="cash-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
