<app-header [showBackButton]="false"></app-header>

<ion-content [fullscreen]="true" 
             [scrollEvents]="true">
  <ion-card>
    <ion-card-header>
      <ion-label>
        Summary
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><ion-icon name="card"></ion-icon> Total costs:</ion-label>
        <ion-label color="danger">$ {{ totalExpenses }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon name="card"></ion-icon> Pending costs:</ion-label>
        <ion-label color="danger">$ {{ expensesPendingPayment }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
      <ion-list-header>
        <ion-label>Costs</ion-label>
        <ion-buttons>
          <ion-button (click)="toggleManageGroup()">
            <ion-label>Edit</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-list-header>
      <ion-item *ngFor="let item of listItems">
        <ion-buttons *ngIf="showManage">
          <ion-button>
            <ion-icon name="remove-circle" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label>{{ item.displayName }}</ion-label>
        <ion-label color="danger">$ {{ item.amount }}</ion-label>
        <ion-checkbox (click)="checkboxOnChange($event, item)" 
        [checked]="item.isPaid"
        [(ngModel)]="item.isPaid" ></ion-checkbox>
        <ion-buttons *ngIf="showManage">
          <ion-button>
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>
</ion-content>